<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    <% layout('/layouts/boilerplate') %>
    <h1> All Restaurants</h1>
    <% const  randomImage = ()=> { %>
        <%     return 'https://source.unsplash.com/collection/67395466'; %>
        <% } %>
    
    <ul>
        <% for (let restaurant of restaurants ) { %>

           <div class="card" mb-3>

            <div class="col-md-4">
                <img class="img-fluid" src="<%=restaurant.image%>">
            </div>  
                <div class="col-mg-8">
                    <div class="card-body">
                        <h4 class="card-title"><%=restaurant.name%></h4>
                        <h5 class="card-subtitle"><%=restaurant.cuisine%></h5>
                        <h6 class="card-location"><%=restaurant.address%></h6>
                        <p class="card-text"><%=restaurant.description%></p>
                        <a class="btn btn-primary" href="restaurants/<%=restaurant._id%>">View</a>
                    </div>
                </div>
           </div>

            <% } %> 
    </ul>
</body>
</html>




